
<p><%= render partial: 'shared/log_headhunter' %></p>

<%= image_tag @profile.avatar, size: "150x150" %>
<h3>
    <%= @profile.name %>
    <% if @profile.star %>
        <%= link_to image_tag("/star.jpg", size: "40x40"), remove_star_profile_path(@profile) %>
    <% else %>
         <%= link_to image_tag("/empty_star.png", size: "20x20"), add_star_profile_path(@profile) %>
    <% end %>
</h3> 
    
<ul>
    <li><%= @profile.nick_name %></li>
    <li><%= @profile.document %></li>
    <li><%= @profile.day_of_birth %></li>
    <li><%= @profile.education_level %></li>
    <li><%= @profile.description %></li>
    <li><%= @profile.experience %></li>
</ul>


<% if @profile.profile_comment.nil? || @profile.profile_comment.comment.empty? %>
    <%= link_to 'Adicionar Comentário', 
         new_profile_profile_comment_path(@profile)  %> </p>
<%else%>
    <p>Comentário: <%= @profile.profile_comment.comment %></p>
    <p><%= link_to 'Editar Comentário', 
        edit_profile_profile_comment_path(@profile, @profile.profile_comment) %>
    <%= link_to 'Deletar Comentário', 
         profile_profile_comment_path(@profile, @profile.profile_comment), method: 'delete' %></p>
<% end %>

<div id='without_subscription'>
<% @job_opportunities.each do |opportunity|%>
    <p><%= opportunity.description_job_opportunity%>
    <%= link_to 'Enviar Proposta',
                    invitation_without_subscription_job_opportunity_profile_path(opportunity, @profile)%>
<% end %>
</div>

<div id='with_subscription'>
<% @filter_subscriptions_headhunter.each do |subscription|%>
    <% if subscription.hh_answer.nil?%>
     <p><%= subscription.job_opportunity.description_job_opportunity%>
         <%= link_to 'Enviar Proposta', 
                new_job_opportunity_subscription_invitation_path(
                    subscription.job_opportunity, subscription) %>
        <%= link_to 'Recusar Inscrição', 
                new_job_opportunity_subscription_feedback_path(
                    subscription.job_opportunity, subscription) %></p>
    <% else %>
        <p> Aguardando resposta </p>
    <% end %>
<% end %>
</div>
    


<p><%= link_to 'Home', root_path %> </p>
<p><%= link_to 'Nova Vaga', new_headhunter_job_opportunity_path(current_headhunter) %> </p>
<p><%= link_to 'Vagas Cadastradas', headhunter_job_opportunities_path(current_headhunter) %></p>
<p> <%= link_to 'Pesquisar Candidatos', search_profiles_path %>
<p><%= link_to 'Back', :back %></p>