<% if headhunter_signed_in? %>
    <p><%= render partial: 'shared/log_headhunter' %></p>
<% elsif job_seeker_signed_in? %>
    <p><%= render partial: 'shared/log_headhunter' %></p>
<% end %>

<h3><%= @profile.name %></h3>

<ul>
    <li><%= @profile.nick_name %></li>
    <li><%= @profile.document %></li>
    <li><%= @profile.day_of_birth %></li>
    <li><%= @profile.education_level %></li>
    <li><%= @profile.description %></li>
    <li><%= @profile.experience %></li>
</ul>

<p><%= link_to 'Home', root_path %> </p>

<% if job_seeker_signed_in? %>
    <p><%= link_to 'Editar Perfil', edit_job_seeker_profile_path(@profile) %> </p>

    <p> <%= link_to 'Vagas', job_opportunities_path %> </p>
<% end %>

<% if headhunter_signed_in? %>
    <p><%= link_to 'Cadastrar Nova Vaga', new_headhunter_job_opportunity_path(current_headhunter) %></p>
    <p><%= link_to 'Vagas Cadastradas', headhunter_job_opportunities_path(current_headhunter,
                                 current_headhunter.job_opportunities) %></p>Vagas
    <p><#%= link_to 'Voltar',  %></p>

<% end %>

