<% if job_seeker_signed_in?%>
    <p><%= render partial: 'shared/log_job_seeker' %></p>
<% elsif headhunter_signed_in?%>
    <p><%= render partial: 'shared/log_headhunter' %></p>
<% end %>

<h3><%= @profile.name %></h3>

<ul>
    <li><%= @profile.nick_name %></li>
    <li><%= @profile.document %></li>
    <li><%= @profile.day_of_birth %></li>
    <li><%= @profile.education_level %></li>
    <li><%= @profile.description %></li>
    <li><%= @profile.experience %></li>
</ul>

<p><%= link_to 'Home', root_path %> </p>

<% if job_seeker_signed_in? %>
    <p><%= link_to 'Editar Perfil', edit_profile_path(@profile) %> </p>
<% end %>
