<h3><%= current_job_seeker.email %> </h3>
<%= render partial: 'shared/log_job_seeker' %>
<%= render partial: 'profiles/button_create_edit_profile' %>

<p> <%= link_to 'Vagas', job_opportunities_path %> </p>
<p> <%= link_to 'Inscrições', subscriptions_by_job_seeker_job_opportunities_path, method: :get %> </p>





