
<h3><%= current_job_seeker.email %> </h3>
<%= render partial: 'shared/log_job_seeker' %>

<% @subscriptions.each do |subscription|%>

    <% if subscription.hh_answer.is_a?(Invitation) %>
    
        <p> Você tem uma proposta para a vaga: 
        <%= link_to subscription.job_opportunity.description_job_opportunity, 
            job_opportunity_subscription_invitation_path(subscription.job_opportunity, subscription, subscription.hh_answer) %>
        </p>
    <% elsif subscription.hh_answer.is_a?(Feedback) %>
        <p> Você tem um feedback para a vaga: 
        <%= link_to subscription.job_opportunity.description_job_opportunity, 
            job_opportunity_subscription_feedback_path(subscription.job_opportunity, subscription, subscription.hh_answer) %>
        </p>
    <% end %>
<% end %>

<%= render partial: 'profiles/button_create_edit_profile' %>
<p> <%= link_to 'Vagas', job_opportunities_path %> </p>
<p> <%= link_to 'Inscrições', job_seeker_subscriptions_path(current_job_seeker), method: :get %> </p>





