
<%= render partial: 'shared/log_headhunter' %>

<h2> Proposta para candidato: <%= @subscription.job_seeker.profile.nick_name %></h2>
<h3> Vaga: <%= @subscription.job_opportunity.description_job_opportunity %> </h3>
<%= form_with url: job_opportunity_subscription_invitations_path, local:true do |f| %>
    <%= f.label :title, 'Título:'%>
    <%= f.text_field :title %>
    <%= f.label :message, 'Mensagem:'%>
    <%= f.text_field :message %>
    <%= f.label :initial_date, 'Data de início:'%>
    <%= f.date_field :initial_date %>
    <%= f.label :salary, 'Salário:'%>
    <%= f.number_field :salary %>
    <%= f.label :position, 'Cargo:'%>
    <%= f.text_field :position %>
    <%= f.label :expectations, 'Expectativas:'%>
    <%= f.text_field :expectations %>
    <%= f.label :bonus, 'Bonus:'%>
    <%= f.text_field :bonus %>
    <%= f.label :benefits, 'Benefícios:'%>
    <%= f.text_field :benefits %>
    <%= f.submit 'Enviar Proposta'%>
<% end %>

<p><%= link_to 'Home', root_path %> </p>
<p><%= link_to 'Nova Vaga', new_headhunter_job_opportunity_path(current_headhunter) %> </p>
<p><%= link_to 'Editar Vaga', edit_headhunter_job_opportunity_path(current_headhunter, @subscription.job_opportunity) %> </p>
<p><%= link_to 'Vagas Cadastradas', headhunter_job_opportunities_path(current_headhunter) %></p>
<p><%= link_to 'Pesquisar Candidatos', search_profiles_path %>
<p><%= link_to 'Voltar', :back %></p>