
<%= render partial: 'shared/log_headhunter' %>

    <div id='search_hh' >
        <h4> Pesquisar vaga </h4>
        <%= form_with url: search_headhunter_job_opportunities_path, method: :get, local:true do %>
            <%= label_tag :q, 'Buscar vaga:' %>
            <%= text_field_tag :q %>
            <%= submit_tag 'Pesquisar' %>
        <% end %>
        <% if @search_hh_job_opportunities.present? %>
            <h3> Resultado da Pesquisa: </h3>
            <% @search_hh_job_opportunities.order(:end_date_opportunity).each do |opportunity| %>
                <ul> 
                    <li><%= link_to opportunity.description_job_opportunity, opportunity %></li><br>
                </ul>
            <% end %>
        <% end %>
    </div>
    <div id='hh_all_opportunities' >

    <h3> Vagas Cadastradas </h3>
        <% if @job_opportunities_of_headhunter.empty? %>
            <p> Nenhuma vaga cadastrada </p>
        <% else %>
            <% @job_opportunities_of_headhunter.order(:end_date_opportunity).each do |opportunity| %>
            <p>
            <%= link_to opportunity.description_job_opportunity, opportunity %>               
            </p>
            <% end %>
           
        <% end %>
    </div>

    <p><%= link_to 'Home', root_path %></p>
    <p><%= link_to 'Cadastrar Nova Vaga', new_headhunter_job_opportunity_path(current_headhunter) %></p>
    <p> <%= link_to 'Pesquisar Candidatos', search_profiles_path%>
