
<p><%= render partial: 'shared/log_job_seeker' %></p>

<h3><%= @job_opportunity.name %></h3>

    <ul>
        <li>Descrição Detalhada: <%= @job_opportunity.description %></li>
        <li>Habilidades Desejadas: <%= @job_opportunity.habilities %></li>
        <li>Faixa Salarial: <%= @job_opportunity.salary_range %></li>
        <li>Nível da Vaga: <%= @job_opportunity.opportunity_level%></li>
        <li>Data Limite para inscrição: <%= @job_opportunity.end_date_opportunity %></li>
        <li>Região: <%= @job_opportunity.region %></li>
    </ul>
    
<% if @subscription.nil? %>
    <p><%= link_to 'Inscrição para Vaga', job_seeker_subscribe_job_opportunity_path(@job_opportunity, current_job_seeker), method: 'post',
                 data: { confirm: 'Are you sure?' }%> </p>
<% else %>
    <p><%= link_to 'Cancelar Inscrição', cancel_subscription_job_opportunity_path(@subscription), method: 'delete', data: { confirm: 'Are you sure?' }%> </p>

    <% if @subscription.hh_answer.is_a?(Invitation) %>
        <p><%= link_to 'Visualizar Convite', 
                job_opportunity_subscription_invitation_path(@subscription.job_opportunity, @subscription, @subscription.hh_answer) %></p>
    <% elsif @subscription.hh_answer.is_a?(Feedback) %> 
        <p><%= link_to 'Visualizar Feedback', 
                job_opportunity_subscription_feedback_path(@subscription.job_opportunity, @subscription, @subscription.hh_answer) %></p>
    <% end %>

<% end %>





<p><%= link_to 'Home', root_path %> </p>
<%= render partial: 'profiles/button_create_edit_profile' %>
<p> <%= link_to 'Vagas', job_opportunities_path %> </p>
<p> <%= link_to 'Inscrições', job_seeker_subscriptions_path(current_job_seeker), method: :get %> </p>
<p><%= link_to 'Voltar', :back %></p>
