
<div id='search' >
    <h4> Pesquisar vaga </h4>
    <%= form_with url: search_job_opportunities_path, method: :get, local:true do %>
        <%= label_tag :q, 'Buscar vaga:' %>
        <%= text_field_tag :q %>
        <%= submit_tag 'Pesquisar' %>
    <% end %>
    <% if @search_job_opportunities.present? %>
        <% @search_job_opportunities.each do |opportunity| %>
            <ul> 
                <li><%= link_to opportunity.description_job_opportunity, opportunity %></li><br>
            </ul>
        <% end %>
    <% else %>
        <p> Resultado não encontrado </p>
    <% end %>
</div>

<div id='all_job_opportunities'>
<% if !@all_job_opportunities.empty? %>
    <h4> Vagas: </h4>
    <% @all_job_opportunities.each do |opportunity| %>
        <p>
        <%= link_to opportunity.description_job_opportunity, opportunity %>               
        </p>
    <% end %>
<% end %>
</div>

<p><%= link_to 'Home', root_path %></p>
<%= render partial: 'profiles/button_create_edit_profile' %>
<p> <%= link_to 'Inscrições', job_seeker_subscriptions_path(current_job_seeker), method: :get %> </p>
<p><%= link_to 'Back', :back %></p>
