<h3>Busca Avançada</h3>
<p><%= @job_opportunity.description_job_opportunity%></p>

<%= form_with url:advanced_search_job_opportunity_path, method: :get, local:true do %>
  <%= label_tag :education_level, 'Escolaridade'%>
  <%= text_field_tag :education_level %>
  <%= label_tag :description, 'Descrição'%>
  <%= text_field_tag :description %>
  <%= label_tag :experience, 'Experiência'%>
  <%= text_field_tag :experience %>
  <%= submit_tag 'Pesquisar'%>
<% end %>

<% if @search_result.present? %>
  <h3> Resultado da Pesquisa </h3>
  <% @search_result.each do |subscription| %>
    <%= subscription.job_seeker.profile.name %> 
  <% end %>
<% end %>

