
<% if job_seeker_signed_in?%>
    <p><%= render partial: 'shared/log_job_seeker' %></p>
<% elsif headhunter_signed_in?%>
    <p><%= render partial: 'shared/log_headhunter' %></p>
<% end %>

<% if headhunter_signed_in? || job_seeker_signed_in?%>

    <h3><%= @job_opportunity.name %></h3>

    <ul>
        <li>Descrição Detalhada: <%= @job_opportunity.description %></li>
        <li>Habilidades Desejadas: <%= @job_opportunity.habilities %></li>
        <li>Faixa Salarial: <%= @job_opportunity.salary_range %></li>
        <li>Nível da Vaga: <%= @job_opportunity.opportunity_level%></li>
        <li>Data Limite para inscrição: <%= @job_opportunity.end_date_opportunity %></li>
        <li>Região: <%= @job_opportunity.region %></li>
    </ul>
    
    <p><%= link_to 'Home', root_path %> </p>
<% end %>

<% if headhunter_signed_in? %>
    <p><%= link_to 'Nova Vaga', new_job_opportunity_path %> </p>
    <p><%= link_to 'Editar Vaga', edit_job_opportunity_path(@job_opportunity) %> </p>
<% end %>

<% if job_seeker_signed_in? %>
    <p> <%= link_to 'Inscrição para Vaga', subscribe_job_opportunity_path, method: :post %> </p>
    <p> <%= link_to 'Cancelar Inscrição', subscribe_job_opportunity_path, method: :delete %> </p>
    <p> <%= link_to 'Inscrições', subscriptions_by_job_seeker_job_opportunities_path, method: :get %> </p>
<% end %>