<% if job_seeker_signed_in?%>

    <p><%= render partial: 'shared/log_job_seeker' %></p>


    <p> Vagas Inscritas </p>

    <% if @subscriptions.empty? %>
        <p> Nenhuma inscrição </p>
    <% else %>
        <% @subscriptions.each do |subscription| %>
        <p>
        <%= subscription.job_opportunity.description_job_opportunity%>     
        <%= link_to 'Cancelar Inscrição', cancel_subscription_job_opportunity_path(subscription), method: :delete, data: { confirm: 'Are you sure?'} %>
        </p>
        <% end %>
    <% end %>
    <p><%= link_to 'Home', root_path %></p>
    <p><%= link_to 'Vagas', job_opportunities_path %> </p>
<% end %>